name: Build and Deploy

on:
  push:
    branches:
      - master
jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - name: Checkout master
      uses: actions/checkout@v1
      with:
        submodules: true

    - name: Hugo Deploy GitHub Pages
      uses: benmatselby/hugo-deploy-gh-pages@master
      env:
        GO_VERSION: 1.17.2
        HUGO_EXTENDED: true
        HUGO_VERSION: 0.88.1
        TARGET_BRANCH: main
        TARGET_REPO: Faezeh-Kh/Faezeh-Kh.github.io
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        CNAME: Faezeh-Kh.github.io
